.modal {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    border: solid 1px #999;
    font-size: 14px;
    color: #fff;
    border-radius: 24px;
    padding: 24px;
}

.modal:not([open]) {
    display: none !important;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 24px;
}

.heading {
    margin: 0;
}

.body {
    flex: 1;
}

.close-btn {
    height: 40px;
}